#about {
    height:100vh;
    margin-bottom: 8rem;
}
hr {
    width: 14rem;
    font-size:large;
    margin-left: 40%;
    color: linear-gradient(45deg, transparent,rgba(71, 4, 71, 0),transparent);
    display:grid;
    place-items: center;    
}