nav {
    background: rgba(239, 181, 230, 0.2);
    font-size: larger;
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 2rem;
    display: flex;
    gap: 1rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    font-size: x-large;
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: rgb(10, 68, 155);
    transition: all 0.5s ease-out;
}

nav a:hover {
    background: rgba(235, 217, 217, 0.3);
    
}
nav a.active {
    background: rgb(220, 20, 60);
    color: rgb(255, 255, 255);
    animation-name: pulse;
    animation-duration: 1s;
}

@keyframes pulse {
    0% {
      border-radius: 100%;
      animation-delay: 0.3s;
    }
    50% {
      border-radius: 25%;
      animation-delay: 0.2s;

    }
    100% {
        border-radius: 50%;
        animation-delay: 0.1s;
    }
  }


