@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    font-family: "Poppins", sans-serif;
    /* font-size: larger; */
    margin-top: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    /* overflow-y: scroll;
    scroll-behavior: smooth; */
}

body {
    background: linear-gradient(45deg, blue, rgb(9, 144, 137));;
}